*
{background-color: darksalmon;
font-family: Arial, Helvetica, sans-serif;}



.container
{display: flex;
flex-flow: row wrap; 
justify-content: center;
border: 30px solid blue;
margin: 50px;
padding: 50px;}
 
.Box1
{order: 6;
margin: 5px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box2
{order: 5;
margin: 20px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box3
{order: 4;
margin: 30px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box4
{order: 3;
margin: 60px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box5
{order: 1;
margin: 50px;
border: 20px solid green;
padding: 5px;
text-align: center;}

.Box6
{order: 2;
margin: 40px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box7
{order: 8;
margin: 20px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box8
{order: 9;
margin: 10px;
border: 20px solid green;
padding: 10px;
text-align: center;}

.Box9
{order: 7;
margin: 55px;
border: 20px solid green;
padding: 10px;
text-align: center;}




/*    /*


